
.chat{
         background-image: url("../images/whatsaapbg.jpg");
}

.chat-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.chat-middle{
    padding-top: 90px;
    padding-left: 30px;
    min-height: 100vh;
    height: 100%;
}
.chat-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f2f5;
    height: 70px;
    display: flex;
    align-items: center;
}
.chat-text{
    width: 90%;
    height: 40px;
margin-left: 15px;
border-radius: 10px;
border: 1px solid #f0f2f5 ;
}
 


.chat-bottom-icon{
    width: 40px;
    margin-left: 23px;

}

.chat-text::placeholder{
    padding-left: 20px;
}
.send-icon{
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.file{
    display: none;
}











